
section.my-experience {
    background-color: black;
    color: white;
    & .inner-wrapper {
        padding: 60px 80px;

    }
    & .myexperience-title {
        text-align: center;
        font-size: 48px;
        margin-bottom: 40px;
    }
}
article {
    gap: 20px;
    padding: 30px 24px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
    & .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        & div {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;
        }
    }
    
}