

.welcome {


    & .welcome-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .text-content {

        }
        & .image-content {
            & img {

            }
        }
    }
}


.dark {
    background-color: black;

    & .text-content {
        color: white;

        & img {

            filter: invert(100%);
        }
        }

    & .image-content {
            & img {
                filter: invert(100%);
            }
        }
}