



.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    & .logo {

    }


    & nav {
        & ul {
            display: flex;
            align-items: center;
            gap: 1rem;

        }
    }
    & .cta-wrapper {
        & a {
            padding: 10px;
            background-color: #000;
            color: #fff;
        }
    }

}

