



.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    & .logo {

    }


    & nav {
        & ul {
            display: flex;
            align-items: center;
            gap: 1rem;

        }
    }
    & .cta-wrapper {
        & a {
            padding: 10px;
            background-color: #000;
            color: #fff;
        }
    }

}

.night-mode {
    cursor: pointer;
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.2s;

    & h1 {
        color: white;
    }
}